body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h3 {
  margin: 0;
}

.headline {
  padding: 0 50px;
}

.main-section {
  display: flex;
  padding: 0 50px;
  gap: 30px;
}

.main-section header {
  padding: 8px 0;
}

.scores-header {
  display: flex;
  gap: 10px;
}

.scores-list {
  border: 2px solid black;
}
