body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  color: rgb(84, 84, 84);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h3 {
  margin: 0;
  font-size: 26px;
}

.headline {
  padding: 0 50px;
}

.main-section {
  display: flex;
  padding: 0 50px;
  justify-content: space-around;
}

.main-section header {
  padding: 8px 0;
}

.scores-header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.scores-list {
  box-shadow: 0 0 15px 0 #888;
  padding: 16px 0;
  min-width: 40vw;
}

.score-form {
  min-width: 40vw;
}

.scores-list li {
  font-size: 15px;
  font-weight: 400;
  padding: 8px 12px;
  border-bottom: 1px solid;
}

.scores-list li:hover {
  background: rgba(189, 189, 189, 0.751);
}

input {
  padding: 8px;
  width: 100%;
}

.button {
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: flex-end;
}
